# Byte-compiled / optimized / DLL files
# Distribution / packaging
# Environments
# PEP 582; used by e.g. github.com/David-OConnor/pyflow
# mypy
# pyenv
*$py.class
*.py[cod]
.Python
.act.secrets
.env
.envrc
.idea
.mypy_cache/
.pytest_cache/
.python-version
.venv
.vscode
Makefile
__pycache__/
__pypackages__/
appversion.json
appversion.json
appversion.txt
appversion.txt
deploy
key.json
temp-deploy