# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
.pytest_cache/

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
Makefile

# mypy
.mypy_cache/

appversion.json
appversion.txt

.act.secrets
.envrc
deploy
.vscode
.idea
key.json
appversion.txt
appversion.json
