---
name: Release

on:
  push:
    branches:
      - main
      - release/**

jobs:
  update_action_image:
    name: Update image version in action.yml
    runs-on: ubuntu-20.04
    if: ${{ !github.event.pull_request.draft }}
    outputs:
      version: ${{ steps.gitversion.outputs.version }}
      commit_hash: ${{ steps.auto-commit-action.outputs.commit_hash }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate version
        uses: ./.github/actions/gitversion
        id: gitversion

      - name: Set image version to '${{ steps.gitversion.outputs.version }}' in action.yml
        uses: mikefarah/yq@v4.24.2
        with:
          cmd: yq -i '.runs.image = "docker://europe-docker.pkg.dev/nube-hub/docker-public/velo-action:${{ steps.gitversion.outputs.version }}"' action.yml

      - name: Cat action.yml to see changes
        run: |
          cat action.yml

      # Do not tag the commit
      - name: Commit action.yml
        uses: stefanzweifel/git-auto-commit-action@v4.14.0
        id: auto-commit-action
        with:
          file_pattern: action.yml
          repository: .
          commit_message: Release ${{ steps.gitversion.outputs.version }}

  release:
    name: Create Github release
    runs-on: ubuntu-20.04
    if: ${{ !github.event.pull_request.draft }}
    needs:
      - update_action_image
    steps:
      - name: Checkout ${{ needs.update_action_image.outputs.commit_hash }}
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.update_action_image.outputs.commit_hash }}

      # The commits is automatically tagged when the draft is promoted to a release
      # in the Github UI
      - name: Create Github release v${{ needs.update_action_image.outputs.version }}
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          name: v${{ needs.update_action_image.outputs.version }}
          tag_name: v${{ needs.update_action_image.outputs.version }}
          target_commitish: ${{ needs.update_action_image.outputs.commit_hash }}
          generate_release_notes: true
