name: '[ci] Test & Build'

on:
  push:
    paths:
      - .deploy/**
      - velo_action/**
      - .github/actions/**
      - .github/workflows/test-build-release.yml

env:
  IMAGE: europe-docker.pkg.dev/nube-hub/docker-public/velo-action

jobs:
  tests:
    runs-on: ubuntu-20.04
    name: Test
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python env
        uses: ./.github/actions/setup-python

      - name: Run tests
        run: poetry run pytest velo_action -c pytest.ini --capture=no -v -m "not docker"
        id: pytests

  build:
    runs-on: ubuntu-20.04
    name: Build & push image
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate version
        uses: ./.github/actions/gitversion
        id: gitversion

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GCP Artifactory
        uses: docker/login-action@v1
        with:
          registry: europe-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.VELO_ACTION_GSA_KEY_PROD_PUBLIC }}

      - name: Build and push ${{ steps.gitversion.outputs.version }}
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            ${{ env.IMAGE }}:${{ steps.gitversion.outputs.version }}
            ${{ env.IMAGE }}:latest

  e2e_tests:
    runs-on: ubuntu-20.04
    name: E2E tests
    needs:
      - build
    steps:
      - name: Checkout velo-action repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Generate version
        uses: ./.github/actions/gitversion
        id: gitversion

      - name: Set image version to '${{ steps.gitversion.outputs.version }}' in action.yml
        uses: mikefarah/yq@v4.25.1
        with:
          cmd: yq -i '.runs.image = "docker://europe-docker.pkg.dev/nube-hub/docker-public/velo-action:${{ steps.gitversion.outputs.version }}"' action.yml

      - name: Test generate version
        uses: ./  # Use action.yml in root
        id: test_version

      - name: Verify version
        shell: bash
        run: |
          git_ref=$(git rev-parse --short HEAD)

          if [[ "${{ steps.test_version.outputs.version }}" != "$git_ref" ]]; then
              echo "Version is not correct."
              exit 1
          else
            echo "Version is correct."
          fi

      - name: Test create a release
        uses: ./  # Use action.yml in root
        with:
          create_release: 'True'
          version: ${{ steps.gitversion.outputs.version }}
          service_account_key: ${{ secrets.VELO_ACTION_GSA_KEY_PROD_PUBLIC }}

      - name: Test deploy to environment when a release exist
        uses: ./  # Use action.yml in root
        if: ${{ !github.event.pull_request.draft }}  # Test is slow since it performs a deploy. Do not run when in draft PR.
        with:
          create_release: 'True'
          deploy_to_environments: staging
          version: ${{ steps.gitversion.outputs.version }}
          service_account_key: ${{ secrets.VELO_ACTION_GSA_KEY_PROD_PUBLIC }}

  release:
    runs-on: ubuntu-20.04
    name: Create release
    needs:
      - tests
      - e2e_tests
      - build
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Generate version
        uses: ./.github/actions/gitversion
        id: gitversion

        # Actually create the release with a released version
      - uses: kolonialno/velo-action@v1.0.2
        with:
          create_release: 'True'
          version: ${{ steps.gitversion.outputs.version }}
          project: velo-action
          service_account_key: ${{ secrets.VELO_ACTION_GSA_KEY_PROD_PUBLIC }}
